<div class="center hero-unit">
  <h1>Witaj w iMed</h1>

  <h2>
    System informatyczny dla lekarzy oraz pacjentów przychodni iMed
  </h2>

  <%= link_to "Zaloguj się teraz", '#', class: "btn btn-large btn-primary" %>
</br>
  <%= link_to "tymczasowy link dla zalogowanego admina", singup_path %>
</div>

<%= link_to image_tag("health.png", alt: "health", class: "style_img"), 'http://pl.wikipedia.org/wiki/Laska_Eskulapa' %>
