<%if @user != nil %>
<%  acc = @user %>
<% elsif @patient != nil %> 
  <% acc = @patient %>
<% else %>
  <% acc = @visit %>
<% end %>

<% unless acc == nil %>
<% if acc.errors.any? %>
  <% eng_errors = ["can't be blank", "doesn't match Password"] %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Ilość pól zawierających błędy: <%= acc.errors.messages.count %>.
    </div>
    <ul>
    <% acc.errors.messages.each do |attr, msg| %>
      <li>* <% msg.each do |x| %>
            <%= "#{x}." unless eng_errors.include?(x) %>
            <% end %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>