<footer class="footer">
  <small>
    iMed <%= link_to "Prywatność i warunki", policy_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas", about_path %></li>
    </ul>
  </nav>
</footer>